<%= @application.name %>

<% @application.pet_applications.each do |pet_application| %>
  <section id="pet<%= pet_application.pet_id %>">
    <%= pet_application.pet.name %>
    <% if pet_application.approved %>
      This pet is approved
    <% else %>
      <%= button_to "Approve this Pet", "/admin/applications/#{@application.id}", method: :patch, params: { approved: true, pet_id: pet_application.pet_id } %>
    <% end %>
  </section>
<% end %>