<% @shelters.each do |shelter| %>
  <%= shelter.name %></br>
<% end %>

<h2>Shelters with Pending Applications</h2>
  <% @applications.each do |application| %>
      <%  application %>
      <% end %>